<h1>League Management</h1>
<div class="flash notice">Leagues contain teams and matches and may be long (season) or short (tournaments/cups). Teams have rosters within a league season. Manage the season lifecycle here.</div>

<div class="actions">
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <% if APP_CONFIG['allow_multiple_leagues'] %>
        <li><%= link_to "New League", "leagues/new", :class => "action_button round" %></li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>

<%= will_paginate %>
<table id="leagues_table" class="grid_shaded">
<tr>
<th title="Name">Name</th>
<th title="Year">Year</th>
</tr>
  <%= render @leagues %>
</table>
<%= will_paginate %>
