<h1>League Management</h1>
<div class="alert">Leagues contain teams and matches and may be long (season) or short (tournaments/cups). Teams have rosters within a league season. Manage the season lifecycle here.</div>

<%= will_paginate %>
<table id="leagues_table" class="table table-condensed">
<tr>
<th title="Name">Name</th>
<th title="Year">Year</th>
</tr>
  <%= render @leagues %>
</table>
<%= will_paginate %>
