<h1>League Management</h1>
<div class="alert">Leagues contain teams and matches and may be long (season) or short (tournaments/cups). Teams have rosters within a league season. Manage the season lifecycle here.</div>

<%= form_tag leagues_path, :method => 'get', :remote => true, :id => "leagues_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="leagues">
    <%= render 'league' %>
  </div>
<% end %>

