<h1>All Leagues</h1>

<%= will_paginate %>

<ul class="leagues">
  <%= render @leagues %>
 
</ul>

<% if APP_CONFIG['allow_multiple_leagues'] %>
<%= link_to "New League", "leagues/new" %>
<% end %>


<%= will_paginate %>
