.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#map_canvas {
    height: 330px;
    width: 450px;
    border-color: #d6e9c6;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.zone_up {background-color: #aaddaa;}
.zone_middle {background-color: #aaccff;}
.zone_down {background-color: #ddaaaa;}