<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>User Dashboard</h2>
      <div>TODO options on this page</div>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
