<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h2><%= pluralize(model.errors.count, "error") %>
      prohibited this <%= model.class.to_s.underscore.humanize.downcase %>
      from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
      <%  model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
