<tr>
<td><%= link_to "#{playinglocation.venue.name}", "../venues/" + playinglocation.venue.id.to_s %></td>
<td><%= playinglocation.venue.built %></td>
<% if can? :new, @teamstat %>
    <td>
        <%= link_to "Remove", playinglocation, :method => :delete,
                    :data => {:confirm => "Remove this venue from this team/league?"},
                    :id => "remove_playinglocation",
                    :title => "Remove",
                    :class => "btn btn-danger" %>
    </td>
<% end %>
</tr>
