
<h3><%= link_to "#{@league.name} (#{@league.year})", "/leagues/#{@league.id}" %> 
- <%= link_to @teamstat.team.name, "/teams/#{@teamstat.team.id}" %> - Manage Roster</h3>


<div class="actions">
  <nav class="round">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to "Add Player", "/rosters/new?teamstat_id=#{@teamstat.id}", :class => "action_button round" %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div>
  <% unless @roster.empty? %>
    <table id="roster_table" class="grid_shaded">
    <tr>
      <th title="Player Name">Name</th>
      <th title="Position">Position</th>
      <th title="Nationality">Nationality</th>
    </tr>
      <%= render @roster %>
    </table>
  <% end %>
</div>
<div>


</div>
