<h1>Player Repository</h1>
<div class="flash notice">Players careers span often span multiple teams and league. Manage basic players profile information here.</div>
<% if signed_in? %>
<div class="actions">
  <nav class="round">
    <ul>
      <li><%= link_to "New Player", "players/new", :class => "action_button round" %></li>
    </ul>
  </nav>
</div>
<% end %>

<%= will_paginate %>
<table id="players_table" class="grid_shaded">
<tr>
<th title="Name">Name</th>
<th title="Position">Position</th>
<th title="Nationality">Nationality</th>
<th title="Previous Club">Previous Club</th>
</tr>
  <%= render @players %>
</table>
<%= will_paginate %>
