<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "About", about_path %></a></li>
            <li><%= link_to "Contact", contact_path %></a></li>
          </ul>
        </div><!-- /.nav-collapse -->
     </div>
  </div>
</div>